$abilityBlackColor: black; 
$abilityBlueColor: #3962C2; 
$abilityGreenColor: #1A8500;
$abilityPurpleColor: #9D0098;
$abilityRedColor: #980000;
$abilityYellowColor: #F9DD73;

$abilityTextLight: rgba(255, 255, 255, .9);
$abilityTextDark: rgba(0, 0, 0, .8);

$championColorLight: #D1F5FF;
$championColorDark: #005F7A;