$mainColor: #441151;
$bodyBgColor: #F3F3F3; 
$contentBgColor: #FFF;
$primaryBtnColor: #35605A;
$mainActiveColor: #D9BFD5;
$inputBorderColor: #AAA;
$spinnerColor: #8E22A8;

$defaultBorderColor: #ced4da;