$mainColor: #441151;
$bodyBgColor: #F3F3F3; 
$contentBgColor: #FFF;
$primaryBtnColor: #35605A;
$mainActiveColor: #D9BFD5;
$inputBorderColor: #AAA;
$spinnerColor: #8E22A8;

$mainLeftPadding: 20px;

@import "css/cover-search";

:export { 
  mainColor: $mainColor;
  spinnerColor: $spinnerColor;
}

html {
  font-size: 16px;
}

a { 
  text-decoration: none;
}

img { 
  width: 100%;
}

input[type="text"] { 
  background-color: $bodyBgColor;
  border: solid 1px $inputBorderColor;
  color: black;
  font-size: 1rem;
  height: 1.5rem;
  padding-left: 1ex;
}

input[type="checkbox"] { 
  margin-left: 2em;
  margin-right: .75em;
}

input[type="submit"] { 
  background-color: $primaryBtnColor;
  color: $contentBgColor;
  padding: .15em .5rem;
}

input[type="submit"]:hover { 
  background-color: $primaryBtnColor;
  color: $contentBgColor;
}

main { 
  background-color: $bodyBgColor;
  font-size: .875rem;
  padding: 1em 0px 0px $mainLeftPadding;
  text-align: left;
}

main > section { 
  background-color: $contentBgColor;
  border : solid 1px $inputBorderColor;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 2em;
  padding: 15px; 
  max-width: 1075px;
}

section.loading { 
  padding: 25px ;
  text-align: center; 
}

table {
  border-spacing: 0px;
  width: 100%;
}

tr { 
  height: 2.75rem;
}

th, td { 
  border: none;
  padding-left: 1ex; 
  padding-right: 1ex; 
}

main th { 
  border-bottom: solid 1px $inputBorderColor;
}

.allianceSearchForm fieldset { 
  border: none;
}

.allianceSearchForm { 
  display: grid; 
  grid-template-columns: 3fr 1fr;
}

.allianceSearchForm .submit { 
  text-align: right;
}

.appHeader { 
  background-color: $contentBgColor;
  display: grid;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  grid-column: 1 / 3;
  grid-template-columns: 225px auto;
  height: 70px; 
}

.appHeader .logo { 
  margin: 15px 15px;
  height: 40px;
  width: 140px;
}

.headerSearchBar { 
  left: -140px;
  margin: auto 0;
  position: relative;
}

.headerSearchInput { 
  width: 400px;
}

.inputIcon { 
  display: inline-block;
  margin-left: -25px;
  width: 15px;
}

.siteNav { 
  background-color: $mainColor;
  grid-row: 2 / 4;
  min-height: calc(100vh - 70px); 
  text-align: left;
}

.siteNav .siteNavLink:first-child { 
  margin-top: 5rem;
}

.siteNavLink { 
  color: white; 
  display: flex;
  align-items: center;
  height: 3em; 
}

.siteNavLink:hover { 
  background-color: $mainActiveColor;
  color: $mainColor;
}

.siteNavLinkIcon { 
  display: flexbox;
  align-items: center;
  margin: -5px 1ex 0px 25px;
  width: 20px;
}

.breadcrumbs { 
  background-color: $bodyBgColor;
  line-height: 2em; 
  padding: .8em 0px 0px $mainLeftPadding;
}

.number { 
  padding-right: 1ex;
  text-align: right;
}

.row1 { 
  background-color: $bodyBgColor;
}

.coverCard { 
  border-radius: 25px;
  display: inline-block;
  margin-right: 1ex; 
  margin-bottom: 1em;
  width: 225px;
}

.App {
  text-align: center;
  display: grid; 
  grid-template-columns: 220px auto;
  grid-template-rows: 70px 3rem auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $mainColor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
